<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<nav class="text-light">

    <ul>
        <li><a href="/productos/listar">Listado productos</a></li>
        <li><a href="/productos/agregar">Agregar Producto</a></li>
    </ul>
</nav>

